@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
     font-size: 10px;
}


body{
  text-align: center;
  height: 100%;

  background: rgb(170,168,169);
background: radial-gradient(circle, rgba(170,168,169,1) 0%, rgba(255,255,255,1) 100%);

  
  font-family: 'Roboto' ,sans-serif;
}



.parent{

  position: relative;
  margin-top: 45px;

}
.unordered-list{


    position: relative;

    margin-bottom: 60px;

}
.ordered-list-movies-list{
    position: absolute;
    padding: 30px;
    margin-top: 70px;
} 

.ordered-list-place{
    position: relative;

    margin-top: 50px;

}

ul{
    list-style-type: circle;
   
    
}

ol{

    list-style-position:inside;
    
}

li{
 
    font-size: 25px;
    list-style-position: inside;
    margin: 5px;


}
    

    




p{
    font-size: 35px;
    color: #222831;
}

h1{
    color: #222831;
    font-size: 50px;
    margin-bottom: 20px;
}

h2{
    color: #30475e;
    font-size: 30px;
    margin-bottom: 20px;
}

.myImage{
    margin-top: 80px;
    margin-bottom: 50px;
}

footer{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 30px;
}





.closer{
    text-indent: -5px;
}